html {
    box-sizing: border-box;
}

body {
    font-family: Inter;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.instagram__photos.mobile,
.header-center__inner-links__element-mobile,
.best-sellers__mobile {
    display: none;
}

/*Header*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-up {
    background: #FAFAFA;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-up p {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #6A6A6A;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
}

.header-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 110px;
}

.header-center__search {
    width: 235px;
    height: 24px;
    position: relative;
}

.header-center__search__input {
    width: 100%;
    height: 100%;
    border: rgba(108, 108, 108, 0.12) 1px solid;
    color: #474747;
    font-family: Inter;
    font-size: 13px;
    padding-left: 3px;
}

.header-center__search__input:focus{
    outline: none;
}

.header-center__search__image {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.header-center__subscribe {
    font-family: Inter;
    font-size: 13px;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-transform: uppercase;
}

.header-center__inner-links {
    display: flex;
    gap: 39px;
}

.header-center__inner-links__element-active {
    position: relative;
}

.header-center__inner-links__circle {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #72408A;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
}

.header-center__inner-links__circle-mobile {
    position: absolute;
    width: 15.88px;
    height: 15.88px;
    border-radius: 50%;
    background-color: #72408A;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transform: translate(100%, -100%);
}

.header-center__inner-links__circle-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
}

.header-line {
    width: 100%;
    background-color: #d8d8d8;
}

.header-down {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
}

.header-down__navigation ul {
    display: flex;
    justify-content: center;
    gap: 85px;
}

.header-down__navigation__element {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.header-down__navigation__element a {
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}

/*Main*/

.main-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-information__advertisement {
    width: 100%;
    background-color: #72408A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    gap: 16px;
}

.main-information__advertisement__text {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.main-information__advertisement__text span:nth-child(1) {
    font-weight: 600;
}

.main-information__advertisement__text span:nth-child(2) {
    text-transform: uppercase;
}

.main-information__advertisement__text span:nth-child(3) {
    font-weight: 600;
    font-style: italic;
}

.main-information__slider {
    background-image: url(../img/main-information/bg_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 51px;
}

.main-information__slider__head {
    width: 612px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 50px rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 74px;
    font-weight: 600;
    line-height: 65px;
    text-transform: uppercase;
}

.main-information__slider__head span {
    font-size: 48px;
    font-weight: 500;
}

.main-information__slider__button {
    width: 224px;
    height: 55px;
    background-color: #80233A;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border-style: none;
    transition: all 0.5s ease;
}

.main-information__slider__button:hover {
    background-color: #A0283A;
    transform: scale(1.1);
    cursor: pointer;
}

.main-information__advantages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    padding-top: 63px;
    padding-bottom: 63px;
    background: linear-gradient(180deg, #EFCFDA 0%, #ECB0C5 100%);
}

.main-information__advantages__element {
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-information__advantages__element p {
    color: #80233A;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.best-sellers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 121.5px 0px;
}

.best-sellers__pc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.best-sellers__article {
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
}

.best-sellers__under-article {
    text-align: center;
    color: #828282;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

.best-sellers__category {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.best-sellers__category__element-no-active {
    width: 188px;
    height: 52px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14.77px;
}

.best-sellers__category__element-active {
    margin-top: -8px;
    width: 188px;
    height: 52px;
    background-color: #80233A;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 14.77px;
}

.best-sellers__category__element-square {
    position: absolute;
    background-color: #80233A;
    width: 20.888px;
    height: 20.888px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    z-index: -1;
}

.best-sellers__category__element_no-active a,
.best-sellers__category__element_active a {
    color: #828282;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}


.best-sellers__category a:first-child {
    color: #FFF;
}
.best-sellers__category a:nth-child(1){
    color: rgb(0, 0, 0);
}



.best-sellers__seller {
    margin-top: -10px;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.best-sellers__seller__card {
    width: 255px;
    height: 336px;
    margin-bottom: 31px;
    
}

.best-sellers__seller img:nth-child(1) {
    width: 100%;
}


.best-sellers__seller__card-info {
    display: flex;
    justify-content: space-between;
    padding: 19px 15px 25px 16px;
}
.best-sellers__seller__card-info img:hover {
    content: url(.././img/seller/bag_active.svg.); 
    cursor: pointer; 
  }
.best-sellers__seller__card h6 {
    text-align:left;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.best-sellers__mobile {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 15.5px;
    align-items: center;
}

.best-sellers__chapter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.best-sellers__chapter__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.best-sellers__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-sellers__chapter__head a:nth-child(1) {
    color: var(--light-colors-black-light, #000);
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


.best-sellers__chapter__head a:nth-child(2) {
    color: #80233A;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    line-height: 20px;
}

.best-sellers__button {
    margin-top: 25px;
    margin-bottom: -5px;
    display: flex;
    width: 182.184px;
    height: 44.876px;
    align-items: center;
    justify-content: center;
    color: #80233A;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: #80233A;
    background-color: #fff;
}
.best-sellers__button:hover {
    background-color: #80233A;
    color: #fff;
    cursor: pointer; 
  }
  
.reviews {
    background: linear-gradient(180deg, #EFCFDA 0%, #ECB0C5 100%);
    padding-top: 58px;
    padding-bottom: 54px;
    min-height: 617px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.reviews__article {
    color: #80233A;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.reviews__under-article {
    color: #80233A;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
}

.reviews__blocks {
    display: flex;
    gap: 35px;
    margin-top: 60px;
}

.reviews__review-left {
    width: 599px;
    height: 271px;
    background-image: url(../img/Review-left.svg);
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 0.5;
}

.reviews__block {
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews__review-active {
    flex-shrink: 0;
    width: 659px;
    height: 271px;
    background-image: url(../img/Review-center.svg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.reviews__block img {
    margin-top: -1.21px;
}

.reviews__review-right {
    width: 591px;
    height: 271px;
    background-image: url(../img/Review-right.svg);
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0.5;
}


.reviews__review h4 {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 51px;
}

.reviews__review p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    max-width: 395px;
    margin: 10px auto 0;
}

.reviews__review-left h4 {
    text-align: right;
    padding-right: 310px;
}

.reviews__review-right h4 {
    text-align: left;
    padding-left: 310px;
}

.reviews__review-left p {
    margin-right: 135px;
    width: 390px;
}

.reviews__review-right p {
    margin-left: 135px;
    width: 390px;
}

.swiper {
    display: flex;
    gap: 34px;
    align-items: center;
    max-width: max-content;
    margin: 46.63px auto 0;
    padding-left: 4px;
}

.pagination {
    display: flex;
    gap: 9.6px;
    align-items: center;
}

.circle {
    width: 10.8px;
    height: 10.8px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.3);
}

.circle.active {
    background-color: #80233A;
}

.swiper img:last-child {
    transform: rotate(180deg);
}

.about-us {
    display: flex;
    align-items: center;
    gap: 20.89px;
    margin: 0 auto;
    margin-top: 115px;
    max-width: 1108px;
    padding: 0 20px;
}

.about-us__text {
    width: 448px;
    padding-bottom: 112px;
}

.about-us__text h3 {
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.about-us__text p {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 26px;
}

.discount-info {
    margin-top: 98.64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Discount-info.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 399px;
    padding-top: 54px;
}

.discount-info__article {
    color: #FFF;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.discount-info__under-article {
    margin-top: 20px;
    max-width: 431px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.discount-info__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 43px;
    max-width: 473px;
    width: 100%;
}

.discount-info__email {
    width: 100%;
    height: 55px;
    border: none;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    outline: none;
}

.discount-info__email::placeholder {
    color: #828282;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.discount-info__button {
    width: 183px;
    height: 45px;
    background: #80233A;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    margin-top: 36px;
    cursor: pointer;
}
.discount-info__button:hover {
    background-color: #FFF;
    color: #80233A;
    cursor: pointer; 
  }

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 123px;
}

.instagram__article {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.instagram__under-article {
    color: #828282;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 387px;
    margin-top: 25px;
}

.instagram__ref {
    display: flex;
    align-items: center;
    gap: 7.38px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 25px;
}

.instagram__photos {
    display: flex;
    margin-top: 65px;
    gap: 9px;
    max-width: 1109px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.photos-block {
    display: flex;
    gap: 9px;
}

.photos-group {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

footer {
    margin-top: 119px;
    padding-top: 63px;
    background: #F9F9F9;
}

footer h4 {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-container {
    max-width: 1122px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-left {
    max-width: max-content;
}

.footer-left__list {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-left__item {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.footer-center {
    max-width: max-content;
}

.footer-center__social {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-top: 20px;
}

.footer-center__social a {
    display: flex;
    align-items: center;
    gap: 9px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-center__address {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 18px;
}

.footer-center__address span {
    font-weight: 500;
}

.footer-center__mark {
    color: #828282;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 18px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
}

.footer-right__group {
    display: flex;
    gap: 31.01px;
}